// Create a mixin that accepts DKFDS theme variables
@mixin generate-background-and-color-classes(
  $theme-color-primary,
  $theme-color-primary-dark,
  $theme-color-primary-darker,
  $theme-color-ink,
  $theme-color-ink-light,
  $theme-color-success,
  $theme-color-success-light,
  $theme-color-warning,
  $theme-color-warning-light,
  $theme-color-error,
  $theme-color-error-light,
  $theme-color-info,
  $theme-color-info-light,
  $theme-color-text-positive,
  $theme-color-text-negative,
  $theme-color-link,
  $theme-color-link-hover,
  $theme-color-link-focus,
  $theme-color-link-visited,
  $theme-color-disabled-light,
  $theme-color-disabled,
  $theme-color-shadow
) {
  $backgroundandcolors: (
    // Primary colors
    primary: $theme-color-primary,
    primary-dark: $theme-color-primary-dark,
    primary-darker: $theme-color-primary-darker,

    // Text color
    ink: $theme-color-ink,
    ink-light: $theme-color-ink-light,

    // Status colors
    success: $theme-color-success,
    success-light: $theme-color-success-light,
    warning: $theme-color-warning,
    warning-light: $theme-color-warning-light,
    error: $theme-color-error,
    error-light: $theme-color-error-light,
    info: $theme-color-info,
    info-light: $theme-color-info-light,

    // Special text colors
    text-positive: $theme-color-text-positive,
    text-negative: $theme-color-text-negative,

    // Link colors
    link: $theme-color-link,
    link-hover: $theme-color-link-hover,
    link-focus: $theme-color-link-focus,
    link-visited: $theme-color-link-visited,

    // Disabled colors
    disabled-light: $theme-color-disabled-light,
    disabled: $theme-color-disabled,

    shadow: $theme-color-shadow
  );

  @each $name, $color in $backgroundandcolors {
    .bg-#{$name} {
      background: $color !important;
      background-color: $color !important;
    }
  }

  @each $name, $color in $backgroundandcolors {
    .color-#{$name} {
      color: $color !important;
    }
  }
}
