//    COLORS - Default values that can be overridden by implementing projects
$color-primary: #0059b3 !default;
$color-primary-medium: #004993 !default;
$color-primary-dark: #003972 !default;

$color-white: #ffffff !default;

$color-focus: #757575 !default;

// Gray colors (legacy support for DKFDS v8-10)
$color-gray-600: #454545 !default;

// INFO
$color-success: #358000 !default;
$color-success-light: #eeffe2 !default;
$color-info: #1b86c3 !default;
$color-warning: #febb30 !default;
$color-error: #cc0000 !default;
