// Forward all partials to make them available when main.scss is imported
@forward 'variables';
@forward 'animations';
@forward 'accordion';
@forward 'bgs'; // Forward the mixin
@forward 'card';
@forward 'code';
@forward 'componentpreview';
@forward 'dialog';
@forward 'knapper';
@forward 'forms';
@forward 'range';
@forward 'progress';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.disabled {
  position: relative;
}

.disabled::after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  content: '';
  // z-index: 5; /* Make sure this value is higher than the z-index of the  .form class  */
  z-index: 10;
  top: 0;
  left: 0;
}

header .navbar .search-form {
  align-self: center;
}

.form-input-date {
  max-width: 22rem;
}
